html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
    display: flex;
    flex-wrap: wrap;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
    flex: 1;
    margin-right: 20px;
}

td {
    text-align: center;
}

th{
    padding: 10px;
}

article{
    text-indent: 20px;
}
/*navigation bar*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: #333;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
}

footer {
    margin-top: 20px;
}
/*image float and caption*/
figure {
    float: right;
    margin-right: 20px;
}
figcaption{
    font-size: 0.9em;
    margin-bottom: 5px;
}

